<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title><%= title %></title>
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <meta name="format-detection" content="telephone=no"/>
    <link rel="shortcut icon" href="/favicon.ico">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <script type='text/javascript' src='/public/static/js/lib/jquery-3.1.0.min.js' charset='utf-8'></script>
    <link rel="stylesheet" href="/public/static/css/dhy/module/couponTypeList.css">
</head>
<body ontouchstart>
<!--领取优惠券-->
<div class="g-couponType-page" id="couponTypePage">
    <div class="m-couponTypeList-mod">
        <div class="mcm-hd">
            <div class="mh-item" id="typeSelect">
                <div class="u-coupons-type-selected" data-selected="">
                    <span>
                        <% if(couponType=="0"){ %>
                            超市
                        <% }else if(couponType=="4"){ %>
                            百货
                        <% }else if(couponType=="5"){ %>
                            母婴
                        <% }else if(couponType=="6"){ %>
                            电器
                        <% }else if(couponType=="7"){ %>
                            停车
                        <% }else if(couponType=="1" || couponType=="2" || couponType=="3"){ %>
                            联盟
                        <% }else{ %>
                            全部分类
                        <% } %>
                    </span><i class="icon iconfont icon-xiajiantou"></i>
                </div>
                <dl class="u-coupons-type u-hide" id="couponsType">
                    <dd data-id="" data-name="全部分类" <% if(couponType=="" || couponType == undefined ){ %> class="on" <% } %> >
                        <a href="javascript:void(0);">全部分类<i class="icon iconfont icon-shensuchenggong"></i></a>
                    </dd>
                    <dd data-id="5" data-name="母婴" <% if(couponType=="5"){ %> class="on" <% } %>>
                        <a href="javascript:void(0);">母婴<i class="icon iconfont icon-shensuchenggong"></i></a>
                    </dd>
                    <dd data-id="0" data-name="超市" <% if(couponType=="0"){ %> class="on" <% } %>>
                        <a href="javascript:void(0);">超市<i class="icon iconfont icon-shensuchenggong"></i></a>
                    </dd>
                    <dd data-id="4" data-name="百货" <% if(couponType=="4"){ %> class="on" <% } %>>
                        <a href="javascript:void(0);">百货<i class="icon iconfont icon-shensuchenggong"></i></a>
                    </dd>
                    <dd data-id="6" data-name="电器" <% if(couponType=="6"){ %> class="on" <% } %>>
                        <a href="javascript:void(0);">电器<i class="icon iconfont icon-shensuchenggong"></i></a>
                    </dd>
                    <dd data-id="7" data-name="停车" <% if(couponType=="7"){ %> class="on" <% } %>>
                        <a href="javascript:void(0);">停车<i class="icon iconfont icon-shensuchenggong"></i></a>
                    </dd>
                    <% if(!couponType||couponType=="0"||couponType=="1"){ %>
                    <dd data-id="1" data-name="联盟" <% if(couponType=="1" || couponType=="2" || couponType=="3"){ %> class="on" <% } %>>
                        <a href="javascript:void(0);">联盟<i class="icon iconfont icon-shensuchenggong"></i></a>
                    </dd>
                    <%} if(couponType=="2"){%>
                    <dd data-id="2" data-name="联盟1" <% if(couponType=="1" || couponType=="2" || couponType=="3"){ %> class="on" <% } %>>
                        <a href="javascript:void(0);">联盟<i class="icon iconfont icon-shensuchenggong"></i></a>
                    </dd>
                    <%} if(couponType=="3"){%>
                    <dd data-id="3" data-name="联盟1" <% if(couponType=="1" || couponType=="2" || couponType=="3"){ %> class="on" <% } %>>
                        <a href="javascript:void(0);">联盟<i class="icon iconfont icon-shensuchenggong"></i></a>
                    </dd>
                    <% } %>
                </dl>
            </div>
            <div class="mh-item" id="sortSelect">
                <div class="u-coupons-type-selected" data-selected="">
                    <span>智能排序</span><i class="icon iconfont icon-xiajiantou"></i>
                </div>
                <dl class="u-coupons-type u-hide">
                    <dd data-id="5" class="on" data-name="时间排序">
                        <a href="javascript:void(0);">时间排序<i class="icon iconfont icon-shensuchenggong"></i></a>
                    </dd>
                    <dd data-id="2" data-name="价格排序">
                        <a href="javascript:void(0);">价格排序<i class="icon iconfont icon-shensuchenggong"></i></a>
                    </dd>
                    <dd data-id="1" data-name="领取次数">
                        <a href="javascript:void(0);">领取次数<i class="icon iconfont icon-shensuchenggong"></i></a>
                    </dd>
                </dl>
            </div>
        </div>

        <div class="mcm-bd">
            <% if(data.length>0){ %>
            <ul class="mcm-coupons-list" id="list">
                <% data.forEach(function(item){ %>
                <li data-id="<%= item.id %>" data-type="<%= item.type %>" data-price="<%= item.price%>" class="<% if(item.status=="1"){ %> receive <% }else if(item.percentage=="0"){%> over <%}%>">
                    <div class="mcl-bd">
                        <div class="mcl-bd-lf">
                            <h4>&yen;<em><%= item.price %></em></h4>
                            <p>
                                <% if(item.type == 5) { %>
                                <i>母婴</i>
                                <% }else if(item.type == 0){ %>
                                <i>超市</i>
                                <% }else if(item.type == 4){ %>
                                <i>百货</i>
                                <% }else if(item.type == 6){ %>
                                <i>电器</i>
                                <% }else if(item.type == 7){ %>
                                <i>停车</i>
                                <% }else if(item.type == 1||item.type == 2||item.type == 3){ %>
                                <i>联盟</i>
                                <% } %>

                                <%
                                    //length属性读出来的汉字长度为1
                                  function cutString(str, len) {
                                        if(str.length*2 <= len) {
                                            return str;
                                        }
                                        var strlen = 0;
                                        var s = "";
                                        for(var i = 0;i < str.length; i++) {
                                            s = s + str.charAt(i);
                                            if (str.charCodeAt(i) > 128) {
                                                strlen = strlen + 2;
                                                if(strlen >= len){
                                                    return s.substring(0,s.length-1) + "...";
                                                }
                                            } else {
                                                strlen = strlen + 1;
                                                if(strlen >= len){
                                                    return s.substring(0,s.length-2) + "...";
                                                }
                                            }
                                        }
                                        return s;
                                    }

                                %>

                                <%= cutString(item.name,24) %>
                            </p>
                            <p class="limit-time">使用时间：<%= item.begintime.split(" ")[0] %> ~ <%= item.endtime.split(" ")[0] %> </p>
                        </div>
                        <div class="mcl-bd-rg" data-id="<%= item.id %>">
                           <a href="/dhy/couponDetail/?channel=<%= channel %>&type=<%= item.type %>&id=<%= item.id %>&status=<%= item.status%>&percentage=<%= item.percentage %>&isSign=<%= isLogin %>" class="mcl-link-detail">
                               <div class="mcl-circle">
                                   <div class="jCircle mod-circle" data-circle="<%= item.percentage %>"></div>
                                   <span class="u-right-buy">立即抢购</span>
                               </div>
                           </a>
                        </div>
                    </div>

                    <div class="mcl-ft-shadow">

                    </div>
                </li>
                <% }) %>
            </ul>
            <% }else { %>
            <ul class="mcm-coupons-list" id="list">

            </ul>
            <% } %>
        </div>

    </div>
</div>

<script type='text/javascript' src='/public/static/js/extends/jquery-weui.js' charset='utf-8'></script>
<script type='text/javascript' src='/public/static/js/extends/dropload.js' charset='utf-8'></script>
<script type='text/javascript' src='/public/static/js/extends/circleCanvas.js' charset='utf-8'></script>
<script type='text/javascript' src='/public/static/js/extends/doT.js' charset='utf-8'></script>
<!--<script type='text/javascript' src='/public/static/js/extends/center-loader.js' charset='utf-8'></script>-->

<script type="text/javascript" src="/public/static/js/extends/modal.js"></script>

<script type="text/javascript">
    $(function () {

        var CouponTypePage=$('body');

        var InitDataLg="<%= data.length %>";
        var StoreId="<%= storeId %>";
        var couponType="<%= couponType %>"||"";//券类别
        var couponSort="<%= couponSort %>";//券排序
        var isLogin=<%= isLogin %>;
        var ListMod=$("#list");
        var page=1;
        var pageSize=10;
        var Me=null;
        var Channel="<%= channel %>";
        var _couponTypeDd= $("#couponsType dd");
        var Modal = $.fn.Modal;


        $.extend($.ajaxSettings, {
            beforeSend: function () {
                console.log("正在加载...");
                $.showLoading();
            },
            complete: function () {
                console.log("加载完成...");
                $.hideLoading();
//                setTimeout(function() {
//                    $.hideLoading();
//                }, 1000)
            },
            error: function (xhr) {
                var errorTxt = "";
                var codeTxt = "";
                codeTxt = xhr.responseJSON.code;
                errorTxt = xhr.responseJSON.message;
                Modal.weak({txt:errorTxt});
            }
        });

        //获取优惠券列表
        function queryCouponList(isLogin,storeid, type, sort,page,pageSize,callback,errCallback) {
            var _callback=callback||function () {};
            var _errCallback=errCallback||function () {};
            var _url="";
            if(type.toString().length>0){
                _url='/api/dhy/coupon/getCouponList?storeid='+storeid
                        +"&isLogin"+isLogin
                        +"&type="+type
                        +"&sort="+sort
                        +"&page="+page
                        +"&pageSize"+pageSize;
            }else{
                _url='/api/dhy/coupon/getCouponList?storeid='+storeid
                        +"&isLogin"+isLogin
                        +"&sort="+sort
                        +"&page="+page
                        +"&pageSize"+pageSize;
            }


             $.ajax({
                type: 'GET',
                url:_url ,
                success: function(data){
                    _callback(data)
                },
                error: function(xhr, type){
                    _errCallback(xhr, type);
                }
              });
        }

        //圈圈
        var CircleInit=function () {
            var Circle = $.fn.Circle;
            var $circle = $('.jCircle');
            $circle.each(function (index, item) {
                var value = Number($(item).attr('data-circle'));
                var dpr = Number($('html').attr('data-dpr'));
                new Circle({
                    dom: item,//容器
                    pbColor: '#f95d5b',//进度条颜色
                    pbWidth: 7,//进度条宽度
                    value: value,//当前值
                    radius: 24,     //值为(radius-20)/2
                    openVal: 1.6,   //圆缺口范围，2为满圆
                    fontSize: 12,
                    rotate: 128
                });
            });
        }

        var CircleSimple=function (dom) {
            var Circle = $.fn.Circle;
            var $circle = $(dom);
            var value = Number($circle.attr('data-circle'));
            var dpr = Number($('html').attr('data-dpr'));
            new Circle({
                dom: $(dom),//容器
                pbColor: '#f95d5b',//进度条颜色
                pbWidth: 7,//进度条宽度
                value: value,//当前值
                radius: 24,     //值为(radius-20)/2
                openVal: 1.6,   //圆缺口范围，2为满圆
                fontSize: 12,
                rotate: 128
            });
        }

        //页面初始化
        var PageInit=function (callback) {
            var _callback=callback||function () {};
            $('.m-couponTypeList-mod').off();
            CircleInit();
            loadedMore();
            _callback();
        }

        var PageRefresh=function () {
            page=1;
            ListMod.empty().append("<p class='loading-txt'>正在加载请稍后...</p>");
            if(Me){
                queryCouponList(isLogin,StoreId, couponType, couponSort, page, pageSize, function (data) {
                    if(data.data.length<=0){
                        $(".loading-txt").remove();
                        ListMod.append("<p class='loading-txt'>暂时没有相关数据...</p>");
                        // 锁定
                        Me.lock();
                        // 无数据
                        Me.noData();
                        Me.resetload();
                    }else{
                        Me.unlock();
                        var dotTmpl = doT.template($("#listTmpl").html());
                        var dotRes = dotTmpl({list: data.data,channel:Channel,couponType:couponType,isLogin:isLogin});
                        setTimeout(function () {
                            ListMod.empty().append(dotRes);
                            CircleInit();
                            Me.resetload();
                        }, 2000);
                    }
                },function () {
                    $(".loading-txt").remove();
                    Me.resetload();
                });
            }
        }

        //类别筛选
        var downSelect = function (opts) {
            this.opts = {
                mod: "#typeSelect",
                textDom: ".u-coupons-type-selected",
                callback:function () {

                }
            };
            $.extend(this.opts, opts ? opts : {});
            this.init();
        }
        downSelect.prototype = {
            init: function () {
                this.mod = $(this.opts.mod);
                this.text = $(this.mod).find(this.opts.textDom);
                this._bind();
            },
            _bind: function () {
                var _this = this;
                this.text.on("click", function () {
                    $(this).next().fadeToggle();
                    var _icon=$(this).find(".icon");//.toggleClass("icon-xiajiantou").toggleClass("icon-shangjiantou");
                    if(_icon.hasClass("icon-xiajiantou")){
                       _icon.removeClass("icon-xiajiantou").addClass("icon-shangjiantou");
                    }else{
                        _icon.removeClass("icon-shangjiantou").addClass("icon-xiajiantou");
                    }
                })
                this.text.next().find("dd").on("click", function () {
                    $(this).addClass("on").siblings().removeClass("on");
                    $(this).parent().fadeOut();
                    var _txt=$(this).data("name");
                    var _id=$(this).data("id");
                    var _prev=$(this).parent().prev();
                    var _prevIcon= _prev.find("i");
                    _prevIcon.removeClass("icon-shangjiantou").addClass("icon-xiajiantou");

                    _prev.find("span").html(_txt);
                    _prev.data("selected",_id);
                    _this.opts.callback(_id);
                })
            }
        };
        //类别选择
        var typeSelect = new downSelect({
            callback:function (id) {
                couponType=id;
                console.log("==typeSelect==",couponType);
                PageRefresh();
            }
        });
        //排序选择
        var sortSelect = new downSelect({
            mod:"#sortSelect",
            callback:function (id) {
                couponSort=id;
                PageRefresh();
            }
        });

        //加载更多
        var loadedMore=function () {
            Me=$('.m-couponTypeList-mod').dropload({
                scrollArea : window,
                autoLoad:false,
                loadDownFn : function(me){
                   page++;
                   //var dropLoadDown=$(".dropload-down");
                    queryCouponList(isLogin,StoreId, couponType, couponSort, page, pageSize, function (data) {
                        $(".loading-txt").remove();
                        if(data.data.length<=0){
                            // 锁定
                            me.lock();
                            // 无数据
                            me.noData();
                            me.resetload();
                        }else{
                            var dotTmpl = doT.template($("#listTmpl").html());
                            var dotRes = dotTmpl({list: data.data,channel:Channel,couponType:couponType,isLogin:isLogin});
                            setTimeout(function () {
                                ListMod.append(dotRes);
                                CircleInit();

                                me.resetload();
                            }, 1000);
                        }
                    },function () {
                        $(".loading-txt").remove();
                        me.resetload();
                    });
                }
            });
            if(InitDataLg<5){
                $(".dropload-down").hide();
            }
        }

        PageInit();
    });
</script>

<script id="listTmpl" type="text/x-dot-template">

    {{~it.list :item:index}}
    <li data-id="{{= item.id }}"  data-type="{{= item.type }}" class="{{? item.status=='1' }} receive {{?? item.percentage=='0' }} over {{??}} {{?}}">
        <div class="mcl-bd">
            <div class="mcl-bd-lf">
                <h4>&yen;<em>{{= item.price }}</em></h4>
                <p>
                    {{? item.type == '5' }}
                    <i>母婴</i>
                    {{? }}

                    {{? item.type == '0' }}
                    <i>超市</i>
                    {{? }}

                    {{? item.type == '4' }}
                    <i>百货</i>
                    {{? }}

                    {{? item.type == '6' }}
                    <i>电器</i>
                    {{? }}

                    {{? item.type == '7' }}
                    <i>停车</i>
                    {{? }}

                    {{? item.type == '1'||item.type == '2'||item.type == '3' }}
                    <i>联盟</i>
                    {{? }}

                    {{= item.name }}
                </p>
                <p class="limit-time">使用时间：{{= item.begintime.split(" ")[0] }} ~ {{= item.endtime.split(" ")[0] }} </p>
            </div>
            <div class="mcl-bd-rg" data-id="{{= item.id }}" data-price="{{= item.price }}">
                {{? item.status=="0" && item.percentage!=='0'}}

                {{? }}

                <a href="/dhy/couponDetail/?channel={{= it.channel }}&type={{= item.type }}&id={{= item.id }}&status={{= item.status}}&percentage={{= item.percentage }}&isSign={{= it.isLogin }}" class="mcl-link-detail">
                    <div class="mcl-circle">
                        <div class="jCircle mod-circle" data-circle="{{= item.percentage }}"></div>
                        <span class="u-right-buy">立即抢购</span>
                    </div>
                </a>

            </div>
        </div>

        <div class="mcl-ft-shadow">

        </div>
    </li>
    {{~}}
</script>
</body>
</html>