<% if(positionRecords.length > 0){ %>
<% positionRecords.forEach(function(item){ %>
<div class="list-line remove-height-limit add-hairline">
  <div class="list-info">
    <span class="list-text light"><%= item.park_name %></span>
    <span class="list-text"><%= item.position_floor %>层，<%= item.position_id %>车位<%=item.mark == 0 ? '':'附近'%></span>
    <span class="list-text lighter">记录：<%= item.create_time %></span>
  </div>
  <div class="list-operate">
    <div class="operate-box">
      <!--<a class="btn white" href="http://api.mxcity.cn/IndoorNavigation/?poiId=<%= item.position_id %>">-->
        <!--<span class="iconfont-park icon-ditudaohang"></span>-->
        <!--<span>一键导航</span>-->
      <!--</a>-->
      <a class="btn white" href="http://api.mxcity.cn/meixi/?PoiId=<%= item.position_id %>">
        <span class="iconfont-park icon-ditudaohang"></span>
        <span>一键导航</span>
      </a>
    </div>
    <div class="operate-box">
      <a class="btn btn-link btn-del"
         data-id="<%= item.id %>"
         data-parkid="<%= item.park_id %>"
         data-position="<%= item.position_id %>"
         data-floor="<%= item.position_floor %>">
        <span class="iconfont-park icon-shanchu1"></span>
      </a>
    </div>
  </div>
</div>
<% }) %>
<% }else{ %>
<div class="no-record">
  <img src="/public/static/img/park/empty.jpg" alt="">
  <span>暂无停车记录</span>
</div>
<% } %>