<% data.data.forEach(function(item){ %>

<li >

    <div class="mcl-bd">
        <h4>&yen;<em><%= item["vendorAmt"] %></em></h4>
        <p>
            <%= item["voucherName"] %>
        </p>
        <p>票券号:<%= item["fourCheckNo"] %></p>
        <p class="limit-time">
            使用时间：<%= item["startTime"].split(' ')[0].replace(/-/g, ".") %>
            ~ <%= item["endTime"].split(' ')[0].replace(/-/g, ".") %>
        </p>
    </div>

    <div class="mcl-ft">
        <div class="mcl-ft-hd">
            <h5><i></i>使用规则</h5>
            <em><i class="icon iconfont icon-xiajiantou"></i></em>
        </div>
        <div class="mcl-ft-text-mod">
            <div class="mcl-ft-bd">
                <%=item["vendorDesc"] %>
            </div>
            <div class="mcl-ft-ft">
                <i class="icon iconfont icon-shangjiantou"></i>
            </div>
        </div>
    </div>

    <div class="mcl-ft-shadow">

    </div>

</li>
<% }) %>