<div class="m-unionAccount-mod u-scrollBar">
    <section class="u-points-ban">
        <div class="upb-mod">
            <ul>
                <li><h5>当前<%= typePointName %>积分</h5></li>
                <li><h4 class="u-color-default"></h4></li>
                <li class="u-btn-line"><a href="#/pointsExchange" class="u-btn u-radius u-btn-block u-btn-normal">积分商城</a></li>
            </ul>
        </div>
    </section>
    <section class="u-unionAccount-list-mod">
        <div class="u-exchange-mod">
            <div class="u-title">
                <span class="icon iconfont icon-yunhouhongbao"></span>
                <%= typePointName %>积分兑换步步高积分
            </div>
            <div class="u-cont">
                <form class="u-form" id="exchangePointFrom">
                    <p> 注：<%= typePointName %><%= ratio %>积分=1步步高积分</p>
                    <input type="text" placeholder="请输入转入积分数" value="" class="u-form-input-text-orange" id="changePoints">
                    <p class="clearfix">实际所得步步高积分<i class="g-fl-rg" id="changeRed">0.00</i></p>
                    <div class="u-exchange-submit-mod">
                        <button class="u-btn u-radius u-btn-block u-btn-normal" type="submit" disabled id="exchangeRedFromSubmit">确定兑换</button>
                    </div>
                </form>
            </div>
        </div>
    </section>
</div>

<% if(typePointName=="银联"){ %>
<section class="m-myUnionAccount-mod">
    <ul class="u-myUnionCard-list">

        <% data.cardlist.forEach(function(item){%>
        <li>
            <h4><%= item["bankName"] %></h4>
            <p><%= item["unioncardNo"] %></p>
        </li>
        <% }) %>
        <li class="u-active-off">
            <a href="#/myUnionAddCard"><i class="icon iconfont icon-jia"></i>添加银行卡</a>
        </li>
    </ul>
</section>
<% } %>